<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Sense - Stock Price Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <div class="container">
        <h1>Stock Sense</h1>
    </div>
</header>

<div class="container">
    <div class="content">
        <form id="predictionForm">
            <input type="number" id="Number of Days" placeholder="Number of Days">
            <input type="submit" value="Predict">
        </form>
        <div id="prediction"></div>
    </div>
</div>
</body>
</html>
